@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}
#contact{
    padding: 50px;
    align-items: center;
}

#contact h2{
    text-align: center;
    font-size: 3.5rem;
    color: #b74b4b;
    margin-top: 30px;
    margin-bottom: 60px;
}
#footersection{
    display: flex;
    align-items: right;
    justify-content: right;
   }
.contact-card{
    width: 600px;
    background-color: black;
    border: 2px solid #b74b4b;
    padding: 20px;
    border-radius: 10px;
    margin: 10px ;
    box-shadow: 0 0 15px #b74b4b , inset 0 0  15px #b74b4b ;
    height: 400px;
    text-align: center;
 }
 .group-form input {
    background: transparent;
    outline: none;
    border: 2px solid #b74b4b;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    margin-top: 5px;
}
.group-form input::placeholder {
    color: #b74b4b;
    font-size: 15px;
}
.group-form input[type="text"]:focus {
    border-color: #853333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.group-form label {
    font-size: 2.1rem;
    color: white;
    text-align: center;
    margin: 10px ;
}
.google-form label {
    font-size: 2.1rem;
    color: white;
    margin: 10px ;
    margin-left: -300px;
    margin-bottom: -100px;
    margin-top: 100px;
}
textarea[id="message"] {
    background: transparent;
    outline: none;
    border: 2px solid #b74b4b;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    height: 135px;
    width: 280px;
    margin-left: 92px;
    margin-top: -30px;
}
textarea[id="message"]::placeholder {
    color: #b74b4b;
    font-size: 15px;
    text-align: center;
}
textarea[id="message"] :focus {
    border-color: #853333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

button {
    display: inline-block;
    padding: 10px 28px;
    background-color: black;
    border-radius: 2rem;
    font-size: 18px;
    color: #b74b4b;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 6px;
}

button:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 5px #b74b4b;

}
.email-card {
    width: 400px;
    height: 110px;
    background-color: black;
    border: 1px solid #b74b4b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 250px;
    margin-top: -170px;
  }
  .email-header {
    background-color: transparent;
    color: #b74b4b;
    padding: 10px;
  }
  
  .email-header h3 {
    margin-top: -10px;
    font-size: 18px;
    margin-left: 79px;
  }
  .email-body {
    padding: 20px;
    color: blue;
    font-size: 15px;
    margin-left: 57px; 
    display: flex;
    align-items: center; 
    margin-top: -20px;
  }
.email-body a {
    color: blue;
    margin-bottom: 15px;
    margin-left: 22px;
}
.email-body img {
    display: flex;
    width: 60px;
    height: 50px;
    margin-left: -70px;
    margin-top: -37px;
}
#showcase {
    color: #b74b4b;
}
#showcase h4 {
    color: white;
    font-size: 4.1rem;
    margin-top: -400px;
    margin-left: 250px;
}
span{
    color: #b74b4b;
}
#showcase p {
    color: white;
    font-size: 1.9rem;
    margin-left: 250px;
    margin-top: 20px;
}
